/* estos son para pantallas sm */
/* ---------------------------------------------------------------------------------------------------- */
@media (min-width: 750px) and (max-width: 970px) {

}
/* estos son para pantallas xs */
/* ---------------------------------------------------------------------------------------------------- */
@media  (max-width: 749px) {


}
/* fin de los media  */
/* ---------------------------------------------------------------------------------------------------- */

.tab-pane {
	padding: 50px;
	padding-top: 66px;
}
.div_agregar_tlf_emp, .div_agregar_email_emp  {
	padding: 10px;
	color: #3c63b7;
	border: 1px soli;
}
.div_agregar_tlf_due, .div_agregar_email_due  {
	padding: 10px;
	color: #3c63b7;
	border: 1px soli;
}
.div_agregar_tlf_enc, .div_agregar_email_enc  {
	padding: 10px;
	color: #3c63b7;
	border: 1px soli;
}

.glyphicon.glyphicon-plus {
	cursor: pointer;
}
#requerido_aste {
	color: red;
	/* padding: 4px; */
	font-size: 18px;
	/* border: 1px solid; */
	line-height: 0;
	height: 1px;
}